/* Variables ================================================================================= */
:root{
    --main-color : #10cab7;
    --p-color: #777;
    --secondary-color: #2c4755;
    --section-padding : 60px;
    --section-background : #f6f6f6;
}
/* Global Rules ============================================================================== */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} 
/* Components ============================================================================== */
.special-heading h2{
    margin: 0;
    color:#ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px
}
.special-heading p{
    margin: -30px 0 0 ;
    color: #797979;
    font-size: 20px;
}
/* Small screen ============================================================================== */
@media (min-width: 768px) {
    .container{
        width: 750px 
    }
}
/* midium screen ============================================================================= */
@media (min-width: 992px) {
    .container{
        width: 970px 
    }
}
/* Large screen ============================================================================== */
@media (min-width: 1200px) {
    .container{
        width: 1170px 
    }
}
/*====================================================================================================================================================================== */
/* header ==================================================================================== */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
    .header .icon span{
        background-color: #333;
        margin-bottom: 5px;
        height: 2px;
        width: 100%;
    }
    .header .links span:nth-child(2){
        width: 50%;
        transition: 0.3s
        }
        .header .links:hover span:nth-child(2){
            width: 100%;
        }
.header .links ul{
    background-color:#ebeced;
    padding: 0;
    position: absolute;
    right: 0;
    width: 200px;
    top: calc(100% + 5px);
    display: none;
    }
    .header .links ul::before{
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #ebeced transparent;
        position: absolute;
        top: -20px;
        left: 87%;
    }
    .header .links:hover ul{
        display: block;
        order: 1;
    }
.header .links ul a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    }
    .header .links ul a:hover{
        padding-left: 20px;
    }
    .header .links ul li:not(:last-child) a{
        border-bottom: 2px solid rgb(51, 51, 51);
    }
/* Landing Section =========================================================================== */

/* Features ================================================================================== */

/* Services ================================================================================== */

/* Portfolio ================================================================================= */

/* About Us ================================================================================== */

/* Contact =================================================================================== */

/* Footer ==================================================================================== */